.root {
	app-bg: #121212;
	app-bg-surface: #121212;
	app-bg-primary: #90caf9;
	app-bg-primary-light: #c3fdff;
	app-bg-primary-dark: #5d99c6;
	app-bg-secondary: #ffe082;
	app-bg-secondary-light: #ffffb3;
	app-bg-secondary-dark: #caae53;
	app-bg-error: cf6679;
	
	app-fg: #ffffff;
	app-fg-surface: #ffffff;
	app-fg-primary: #000000;
	app-fg-secondary: #000000;
	app-fg-error: #000000;
}

.root {
	-fx-font-family: sans-serif;
	-fx-font-size: 14pt;
	-fx-padding: 0px;
	-fx-background-color: app-bg;	
}

.label {
	-fx-text-fill: app-fg;
}

.scroll-pane, .scroll-pane .viewport {
	-fx-background-color: app-bg;
	-fx-padding: 0px;	
}

.scroll-bar, .list-view .scroll-bar {
	-fx-background-color: app-bg;
}

.scroll-bar .track, .list-view .scroll-bar .track {
	-fx-background-color: app-bg;
}

.scroll-bar .thumb, .list-view .scroll-bar .thumb {
	-fx-background-color: derive(app-bg, 10%);
}

.scroll-bar .decrement-button:hover, .scroll-bar .increment-button:hover, 
.list-view .scroll-bar .decrement-button:hover, .list-view .scroll-bar .increment-button:hover {
	-fx-background-color: derive(app-bg, 10%);
}

#locked {
	-fx-alignment: center;
	-fx-fill-width: false;
}

#locked-center {
	-fx-spacing: 8px;
	-fx-alignment: center;
	-fx-fill-width: false;
}

#locked-password {
	-fx-spacing: 8px;
	-fx-alignment: center;
	-fx-fill-height: false;
	-fx-background-color: derive(app-bg, 20%);
	-fx-background-radius: 8px;
	-fx-padding: 16px;
	-fx-effect: dropshadow(gaussian, black, 8, 0, 0, 0);
	-fx-border-color: app-bg;
	-fx-border-radius: 8px;
}

#locked-unlock {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-effect: dropshadow(gaussian, black, 8, 0, 0, 0);
	-fx-text-fill: app-bg;
	-fx-background-color: app-bg-primary;
	-fx-font-weight: bold;
}

#locked-unlock:armed {
	-fx-background-color: app-bg-primary-dark;
}

#unlocked {
	-fx-background-color: app-bg;
}

#unlocked .split-pane-divider {
	-fx-border-color: app-bg;
	-fx-margin: 0px;
	-fx-padding: 0px;
}

#list-search {
	-fx-background-color: derive(app-bg, 20%);
	-fx-text-fill: app-fg;
	-fx-highlight-fill: app-bg-primary;
	-fx-highlight-text-fill: app-bg;
	-fx-effect: dropshadow(gaussian, black, 8, 0, 0, 0);
}

#list-search-wrap {
	-fx-padding: 8px 8px 12px 8px;
}

#list .list-view {
	-fx-padding: 0px;
	-fx-background-color: derive(app-bg-surface, 10%);
}

#list .list-cell {
	-fx-background-color: derive(app-bg-surface, 10%);
	-fx-text-fill: app-fg-surface;
}

#list .item-list-cell-grid {
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}

#list .list-cell:selected {
	-fx-background-color: app-bg-primary;
}

.item-list-cell-title {
	-fx-font-weight: bold;
}

#list .list-cell:selected .item-list-cell-title {
	-fx-text-fill: app-fg-primary;
}

.item-list-cell-detail {
	-fx-font-size: 13pt;
	-fx-font-weight: lighter;
}

#list .list-cell:selected .item-list-cell-detail {
	-fx-text-fill: app-fg-primary;
}

#list .item-list-cell-icon {
	-fx-opacity: 0.7;
} 

#list .list-cell:selected .item-list-cell-icon  {
} 

.item-detail-box {
	-fx-padding: 1em;
	-fx-spacing: 1em;
}

.item-sections {
	-fx-spacing: 1em;
}

.item-section, .item-fields {
	-fx-spacing: 0.3em;
	-fx-padding: 1em;
	-fx-background-color: derive(app-bg, 10%);
	-fx-background-radius: 8px;
	-fx-effect: dropshadow(gaussian, black, 8, 0, 0, 0);
}

.item-section-header {
	-fx-font-weight: bold;
	-fx-padding: 0 0 0.5em 0;
}

.item-section-field-header {
	-fx-font-size: 13pt;
}

#details {
}

#details-header {
	-fx-background-color: derive(app-bg, 10%);
	-fx-padding: 1em 0.5em 0.5em 0.5em;
	-fx-hgap: 0.5em;
	-fx-vgap: 0.5em;
}

#details-header-title {
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
}

#details-header-subtitle {
	-fx-text-fill: derive(app-fg, -30%);
}