.root {
	app-bg-primary: #90caf9;
	app-bg-primary-light: #c3fdff;
	app-bg-primary-dark: #5d99c6;
	app-bg-secondary: #ffe082;
	app-bg-secondary-light: #ffffb3;
	app-bg-secondary-dark: #caae53;
	app-bg-error: cf6679;
	app-bg: #121212;
	app-bg-surface: #121212;
	/*	app-bg-surface-dp1: rgba(255, 255, 255, 0.05);
	app-bg-surface-dp2: rgba(255, 255, 255, 0.07);
	app-bg-surface-dp3: rgba(255, 255, 255, 0.08);
	app-bg-surface-dp4: rgba(255, 255, 255, 0.09);
	app-bg-surface-dp6: rgba(255, 255, 255, 0.11);
	app-bg-surface-dp8: rgba(255, 255, 255, 0.12);
	app-bg-surface-dp12: rgba(255, 255, 255, 0.14);
	app-bg-surface-dp16: rgba(255, 255, 255, 0.15);
	app-bg-surface-dp24: rgba(255, 255, 255, 0.16);*/
	app-bg-surface-dp1: #1d1d1d;
	app-bg-surface-dp2: #212121;
	app-bg-surface-dp3: #242424;
	app-bg-surface-dp4: #272727;
	app-bg-surface-dp6: #2c2c2c;
	app-bg-surface-dp8: #2d2d2d;
	app-bg-surface-dp12: #323232;
	app-bg-surface-dp16: #353535;
	app-bg-surface-dp24: #373737;
	
	app-bg-shadow-dp2: dropshadow(gaussian, black, 2, 0, 0, 1);
	app-bg-shadow-dp4: dropshadow(gaussian, black, 4, 0, 0, 2);
	app-bg-shadow-dp6: dropshadow(gaussian, black, 6, 0, 0, 3);
	app-bg-shadow-dp8: dropshadow(gaussian, black, 8, 0, 0, 4);
	app-bg-shadow-dp12: dropshadow(gaussian, black, 12, 0, 0, 6);
	app-bg-shadow-dp24: dropshadow(gaussian, black, 24, 0, 0, 12);
	
	app-fg-primary: #000000;
	app-fg-secondary: #000000;
	app-fg-error: #000000;
	app-fg: #ffffff;
	
	app-fg-surface: #ffffff;
	app-fg-high: rgba(255, 255, 255, 0.87);
	app-fg-medium: rgba(255, 255, 255, 0.6);
	app-fg-disabled: rgba(255, 255, 255, 0.38);
}

.root {
	-fx-font-family: sans-serif;
	-fx-font-size: 14pt;
	-fx-padding: 0px;
	-fx-background-color: app-bg;
}

.label {
	-fx-text-fill: app-fg;
}

.scroll-pane, .scroll-pane .viewport {
	-fx-background-color: app-bg-surface;
	-fx-padding: 0px;
}

.scroll-bar {
	-fx-background-color: app-bg-surface;
}

.list-view .scroll-bar {
	-fx-background-color: app-bg-surface-dp2;
}

.scroll-bar .track {
	-fx-background-color: app-bg-surface;
}

.list-view .scroll-bar .track {
	-fx-background-color: app-bg-surface-dp2;
}

.scroll-bar .thumb {
	-fx-background-color: app-bg-surface-dp2;
	-fx-effect: app-bg-shadow-dp2;
}

.list-view .scroll-bar .thumb {
	-fx-background-color: app-bg-surface-dp6;
	-fx-effect: app-bg-shadow-dp2;
}

.scroll-bar .decrement-button:hover, .scroll-bar .increment-button:hover {
	-fx-background-color: app-bg-surface-dp3;
}

.list-view .scroll-bar .decrement-button:hover, .list-view .scroll-bar .increment-button:hover {
	-fx-background-color: app-bg-surface-dp6;
}

#locked {
	-fx-alignment: center;
	-fx-fill-width: false;
}

#locked-center {
	-fx-spacing: 8px;
	-fx-alignment: center;
	-fx-fill-width: false;
	-fx-background-color: app-bg;
	-fx-padding: 16px;
}

#locked-password {
	-fx-spacing: 8px;
	-fx-alignment: center;
	-fx-fill-height: false;
	-fx-background-color: app-bg-surface-dp4;
	-fx-background-radius: 8px;
	-fx-padding: 16px;
	-fx-effect: app-bg-shadow-dp6;
	-fx-border-color: app-bg;
	-fx-border-radius: 8px;
}

#locked-unlock {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-effect: app-bg-shadow-dp4;
	-fx-text-fill: app-bg;
	-fx-background-color: app-bg-primary;
	-fx-font-weight: bold;
}

#locked-unlock:armed {
	-fx-background-color: app-bg-primary-dark;
}

#unlocked {
	-fx-background-color: app-bg;
}

#unlocked-split {
	-fx-padding: 0;
}

#unlocked-split .split-pane-divider {
	-fx-border-color: app-bg-surface-dp2;
	-fx-margin: 0px;
	-fx-padding: 0px;
}

#header {
	-fx-padding: 1em;
	-fx-background-color: app-bg-surface-dp2;
}

#header-search {
	-fx-pref-column-count: 24;
	-fx-background-color: app-bg-surface-dp4;
	-fx-text-fill: app-fg;
	-fx-highlight-fill: app-bg-primary;
	-fx-highlight-text-fill: app-bg;
	-fx-effect: app-bg-shadow-dp2;
}

#header-lock {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-effect: app-bg-shadow-dp2;
	-fx-text-fill: app-bg;
	-fx-background-color: app-bg-primary;
	-fx-font-weight: bold;
}

#list .list-view {
	-fx-background-color: app-bg-surface-dp2;
	-fx-padding: 0px;
}

#list .list-cell {
	-fx-background-color: app-bg-surface-dp2;
}

#list .item-list-cell-grid {
	-fx-padding: 0.3em 0 0.3em 0;
	-fx-hgap: 0.5em;
	-fx-vgap: 0.3em;
}

#list .list-cell:selected {
	-fx-background-color: app-bg-surface-dp12;
}

#list .list-cell:hover {
	-fx-background-color: app-bg-surface-dp6;
}

#list .item-list-cell-title {
	-fx-text-fill: app-fg-high;
	-fx-font-weight: bold;
}

#list .list-cell:selected .item-list-cell-title {
	-fx-text-fill: app-fg-surface;
}

#list .item-list-cell-detail {
	-fx-font-size: 13pt;
	-fx-text-fill: app-fg-medium;
}

#list .list-cell:selected .item-list-cell-detail {
	
}

#list .item-list-cell-icon {
	-fx-opacity: 0.7;
}

#list .list-cell:selected .item-list-cell-icon {
	
}

#details {
	-fx-background-color: app-bg-surface;
}

#details-header {
	-fx-background-color: app-bg-surface;
	-fx-padding: 1em 1em 0.5em 1em;
	-fx-hgap: 1em;
}

#details-header-icon {
	-fx-opacity: 0.7;
}

#details-header-title {
	-fx-font-weight: bold;
	-fx-font-size: 1.2em;
	-fx-text-fill: app-fg-high;
}

#details-header-subtitle {
	-fx-text-fill: app-fg-medium;
}

#details-data {
	-fx-padding: 1em;
	-fx-spacing: 1em;
}

.item-sections {
	-fx-spacing: 1em;
}

.item-section, .item-fields, .item-attachments {
	-fx-spacing: 0.3em;
	-fx-padding: 1em;
	-fx-background-color: app-bg-surface-dp2;
	-fx-background-radius: 8px;
	-fx-effect: app-bg-shadow-dp2;
}

.item-section-header {
	-fx-font-weight: bold;
	-fx-padding: 0 0 0.5em 0;
	-fx-text-fill: app-fg-high;
}

.item-field-header, .item-section-field-header {
	-fx-padding: 0.5em 0 0 0.5em;
	-fx-text-fill: app-fg-medium;
	-fx-font-size: 13pt;
}

.item-fields .text-field, .item-section .text-field, .item-attachment-text {
	-fx-font-weight: bolder;
	-fx-background-color: app-bg-surface-dp4;
	-fx-text-fill: app-fg-high;
	-fx-highlight-fill: app-bg-primary;
	-fx-highlight-text-fill: app-bg;
	-fx-effect: app-bg-shadow-dp2;
	-fx-padding: 0.5em;
}

.item-fields .text-area {
	-fx-font-weight: bolder;
	-fx-wrap-text: true;
	-fx-background-color: app-bg-surface-dp4;
	-fx-effect: app-bg-shadow-dp2;
	-fx-text-fill: app-fg-high;
	-fx-highlight-fill: app-bg-primary;
	-fx-highlight-text-fill: app-bg;
}

.item-fields .text-area .content {
	-fx-background-color: app-bg-surface-dp4;
}

.item-section .progress-indicator {
	-fx-progress-color: app-bg-primary;
	-fx-padding: 0 0 -1em 0;
}

.item-section .progress-indicator .indicator {
	-fx-background-color: app-bg-surface-dp4;
	-fx-effect: app-bg-shadow-dp2;
}

.item-section .progress-indicator .percentage {
	-fx-fill: null;
}

.item-section .progress-indicator .tick {
	-fx-background-color: app-bg-primary;
}

.item-attachment-row {
	-fx-spacing: 0.5em;
	-fx-alignment: center-left;
	-fx-padding: 0.5em 0 0 0;
}

.item-attachment-btn {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-effect: app-bg-shadow-dp2;
	-fx-text-fill: app-bg;
	-fx-background-color: app-bg-primary;
	-fx-font-weight: bold;
}

.password-pane {
	-fx-spacing: 0.5em;
	-fx-alignment: center;
}

.password-copy {
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-effect: app-bg-shadow-dp2;
	-fx-text-fill: app-bg;
	-fx-background-color: app-bg-primary;
	-fx-font-weight: bold;
}